.portBox-overlay {  
	height: 100%;
	width: 100%;
	background: #000000;
	opacity: 0.6;
	filter: alpha(opacity=60);
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
	display: none;
}

.portBox {
	max-width:1280px;
	position: absolute;
	display:none;
	background: #ffffff;
	z-index: 1001;
	padding: 50px;
	text-align:left;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 10px;
	-moz-box-shadow: 0 0 10px rgba(0,0,0,.4);
	-webkit-box-shadow: 0 0 10px rgba(0,0,0,.4);
	-box-shadow: 0 0 10px rgba(0,0,0,.4);
	min-width:200px;
	font-family: 'Source Sans Pro', sans-serif;
	-webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box; 
	box-sizing: border-box;
}

.close-portBox{
		font-size: 20px;
		line-height: .5;
		position: absolute;
		top: -6px;
		right: -7px;
		color: #fff !important;
		text-shadow:none;
		font-family: 'Source Sans Pro', sans-serif;
		font-weight:bold;
		cursor: pointer;
		border-radius:50%;
		padding:5px;
		background-color:#5c5c5c;
		overflow:visible;
		border:2px solid #fff;
		text-decoration:none;
}

.close-portBox:hover{
	color: #5c5c5c !important;
	background-color:#fff;
	border:2px solid #5c5c5c;	
}




